/* BOOTSTRAP OVERRIDES */

.row {
    margin-top:1em;
}

/* BASE */

h1, h2 {
    margin-top:0;
}

/* LAYOUT */

#header,
#footer {
    border:solid #ddd;
}

#header {
    border-width:0 0 1px 0;
    padding-bottom:0.5em;
}

    #login,
    #user {
        text-align: right;
    }

#nav-view {
    list-style: none;
    margin-left:0;
    padding-left:0;
}

#footer {
    border-width:1px 0 0 0;
    padding-top:0.5em;
    text-align: center;
}

/* HELPERS */

.basic-info > .image {
    background-color:#eee;
    padding:10px 0;
    text-align:center;
}
.basic-info > .text > dl {
    margin-top:5px;
}
.basic-info > .text > dl > dt {
    line-height:20px;
    margin-bottom:5px;
}
.basic-info > .text > dl > dd {
    margin-left:0;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight:bold;
}
.h1, .h2, .h3 {
    line-height:40px;
}
.h1 {
    font-size:38.5px;
}
.h2 {
    font-size:31.5px;
}
.h3 {
    font-size:24.5px;
}
.h4 {
    font-size:17.5px;
}
.h5 {
    font-size:14px;
}
.h6 {
    font-size:11.9px;
}
.no-bullet {
    list-style:none;
}
.no-left-margin {
    margin-left:0;
}
.no-left-padding {
    padding-left:0;
}
