<script id="profile-template" type="text/template">
    <h2>{{firstName}} {{lastName}}</h2>
    <ul>
        <li>{{headline}}</li>
        <li>{{industry}}</li>
        <li>{{location.name}}</li>
        <li>{{numConnections}} connections</li>
        <li><img src="{{pictureUrl}}" /></li>
    </ul>
    {{#summary}}
        <h3>Summary</h3>
        <p>{{summary}}</p>
    {{/summary}}
    {{#positions}}
        <h3>Experience</h3>
        <ul class="no-bullet no-left-margin no-left-padding">
            {{#positions.values}}
            <li>
                <dl>
                    <dt>{{title}}</dt>
                        <dd>{{company.name}}</dd>
                        <dd>
                            {{startDate.month}}/{{startDate.year}}&#8211;
                            {{#endDate}}
                                {{endDate.month}}/{{endDate.year}}
                            {{/endDate}}
                        </dd>
                        <dd><p>{{summary}}</p></dd>
                </dl>
            </li>
            {{/positions.values}}
        </ul>
    {{/positions}}
</script>
