            <script id="profile-template" type="text/template">
                <dl>
                    <dt>{{firstName}} {{lastName}}</dt>
                        <dd class="no-left-margin">{{headline}}</dd>
                        <dd class="no-left-margin">{{industry}}</dd>
                        <dd class="no-left-margin">{{location.name}}</dd>
                        <dd class="no-left-margin">{{numConnections}} connections</dd>
                        <dd class="no-left-margin"><img src="{{pictureUrl}}" /></dd>
                </dl>
                {{#summary}}
                <h2>Summary</h2>
                <p>{{summary}}</p>
                {{/summary}}
                {{#positions}}
                <h2>Experience</h2>
                <ul class="no-bullet no-left-margin no-left-padding">
                    {{#positions.values}}
                    <li>
                        <dl>
                            <dt>{{title}}</dt>
                                <dd class="no-left-margin">{{company.name}}</dd>
                                <dd class="no-left-margin">
                                    {{startDate.month}}/{{startDate.year}}&#8211;
                                    {{#endDate}}
                                        {{endDate.month}}/{{endDate.year}}
                                    {{/endDate}}
                                </dd>
                                <dd class="no-left-margin"><p>{{summary}}</p></dd>
                        </dl>
                    </li>
                    {{/positions.values}}
                </ul>
                {{/positions}}
            </script>
